@charset "utf-8";

h1{
    font-size: 80px;
    background: linear-gradient(to right, yellow,green,red);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;  
}

section{
    width: 601px;
    height: 301px;
    border: 10px solid transparent;
    border-image: linear-gradient(to bottom, blue, green);
    border-image-slice: 1;
}

div{
    width:600px;
    height:300px;
    background: linear-gradient(57deg, rgb(241, 101, 41), yellow);
}

/* https://cssgradient.io/ */

